*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}     
body{
    height: auto;
    background-image: url('../imagens/principal/fundo.avif');
}
body, footer, form{
    margin: 0 auto;
}
nav{
    width: 100vw;
}
.principal, form, footer{
    display: flex;
    flex-direction: column;
}
main{
    position: relative;
    z-index: 2;
}      
h1{
    text-align: center;
    font-size: 36px;
    color: #fff;
    background-color: rgba(62, 61, 61, 0.85);
    height: 12vh;
}
h1, form, label, button, p{
    padding: 15px;
}
form{
    background-image: url('../imagens/principal/treino-celular.avif');
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(227, 128, 7, 0.1);
    align-self: center;
    width: 85vw;
    border: 2px solid #eca311;
    border-radius: 25px;
    margin: 12px auto;
}
label{
    font-size: 16px;
    color: #fff;
}
input, button{
    width: 75vw;
    height: 8vh;
    border-radius: 7px;
    padding: 5px;
}
input{
    font-size: 10px;
}
input:hover{
    border: solid 3px #0084ff;
    font-size: 16px;
}
button{
    background-color: #0def27;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    color: aliceblue;
}
button:hover{
    color: #fff;
    background-color: #15fc00;
}
p{
    text-align: center;
    font-size: 24px;
    color: #0def27;
    margin-top: 15px;
}
.vermelho{
    color: #ff0000;
    font-size: 32px;
}
.laranja{
    color: #ffaa00;
}
.vermelho, .laranja{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
img.whats{
    position: fixed;
    z-index: 1;
    width: 70px;
    height: 70px;
    bottom: 5%;
    right: 5%;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    align-items: center;
    background-color: rgba(62, 61, 61, 0.85);
    padding: 15px;
}
div.redes{
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
img.logo{
    opacity: 80%;
    width: 30px;
    height: 30px;
    margin: 0 24px;
}
img.logo:hover{
    opacity: 100%;
}
cite{
    text-align: center;
    font-size: 24px;
    padding: 15px;
}

@media (min-width: 375px){
    input{
        font-size: 12px;
    }    
}

@media (min-width: 556px) {
    form{
        width: 70vw;
    }
    input, button{
        width: 60vw;
        height: 6vh;
    }
    label{
        padding-top: 36px;
    }
    button{
        margin-top: 36px;
    }
    img.logo{
        width: 40px;
        height: 40px;
        margin: 0 36px;
    }
}

@media (min-width: 768px){
    form{
        background-image: url('../imagens/principal/treino.jpg');
    }
    label, input, button{
        align-self: center;
    }
    input, button{
        width: 40vw;
        height: 6vh;
    }
    img.logo{
        margin: 0 48px;
    }
}

@media (min-width: 991px){
    button{
        margin: 36px 0;
    }
}

@media (min-width: 1024px){
    h1{
        font-size: 48px;
    }
    label, button, input:hover{
        font-size: 20px;
    }
    input{
        font-size: 16px;
    }
    img.logo{
        width: 50px;
        height: 50px;
    }
    img.whats{
        width: 80px;
        height: 80px;
    }
    cite{
        font-size: 28px;
    }
}

@media (min-width: 1440px){
    body{
        background-image: url('../imagens/principal/fundo_grande.jpg');
    }
    form{
        width: 50vw;
    }
    label{
        padding-top: 56px;
    }
}
@media (min-width: 1920px) {
    h1{
        font-size: 64px;
    }
    label, button, input:hover{
        font-size: 28px;
    }
    label{
        padding-top: 72px;
    }
    input{
        font-size: 24px;
    }
    img.logo{
        width: 80px;
        height: 80px;
    }
    img.whats{
        width: 100px;
        height: 100px;
    }
    p, p.vermelho{
        font-size: 36px;
    }
    cite{
        font-size: 40px;
    }
}

@media (min-width: 2560px) {
    body{
        background-position: center;
    }
}